@model SpellChecker.Models.SpellCheck.SpellCheckDto

<header>
    <div class="logo">
        <a href="#" title="SpellChecker"><img src="~/images/spell-check.png" alt="SpellChecker"></a>
    </div>
</header>
<main>
    <h1>SpellChecker</h1>
    @if (Model.ErrorResponse.Errors.Any())
    {
        <div class="error">
            <p class="message">@Model.ErrorResponse.Errors.First().Message</p>
            <code class="code">Status Code: @Model.ErrorResponse.Errors.First().StatusCode</code>
        </div>
    }
    <form asp-controller="Home" asp-action="SpellCheck">
        <textarea asp-for="Input" class="input-text" placeholder="Type here"></textarea>
        <span hidden="" class="corrected">@Model.CorrectedInput</span>
        <div class="buttons">
            <button type="submit" class="check">Check</button>
            <a href="#" class="correct">Correct</a>
        </div>
        @if (Model.SpellCheck.FlaggedTokens.Any())
        {
            <div class="corrections result">
                <p class="mistakes">Count of Mistakes: <span class="mistakes">@Model.SpellCheck.FlaggedTokens.Count</span></p>
                <ul>
                    @foreach (var mistake in Model.SpellCheck.FlaggedTokens)
                    {
                        <li>
                            <p class="incorrect-word">@mistake.Token</p>
                            <ul class="correct-words">
                                @foreach (var suggestion in mistake.Suggestions)
                                {
                                    <li class="correct-word">
                                        <p>@suggestion.Suggestion</p>
                                        &ensp;<em>-</em>&ensp;
                                        <span>@Model.FormatScoreToPercent(suggestion.Score)</span>
                                    </li>
                                }
                            </ul>
                        </li>
                    }
                </ul>
            </div>
        }
    </form>
</main>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript">
    $(function () {
        $('.correct').click(function () {
            $('.input-text').text($('.corrected').text());
            $('.corrections').hide();
        });
    });
</script>